*{
    margin:0;
    padding:0;

}
.con1{
    background-color: #ACE4E3;
    width:calc(100vw-20px);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    color: #0B4350;
}
.doogle{
    width: 70px;
    height: 80px;
    position: fixed;
    top: calc(50% - 15px);
    right: 0;
    background-color: #0B4350;
    color: #F58BCF;
}
.doogle i{
    width: 100%;

}
.con2{
    width:100vw;
    height: 100vh;
    background-color: #ACE4E3;

}
.text1{
    position: absolute;
    left: 0;
    top: calc(40% + 100vh);


}
.text2{
    position: absolute;
    right: 0;
    top: calc(40% + 100vh);
}
.text3{
    position: absolute;
    padding-bottom: 0;
    left: 0;
}
.text4{
    position: absolute;
    padding-bottom: 0;
    right: 0;
}
.con3 {
    width: 100vw;
    height: 100vh;
    background-color: #0B4350;
    color: #F58BCF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.con4{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0B4350;
    color: #F58BCF;
}
.inside{
    width: 60%;
    height: 40%;

    border-radius: 10px;
    border:1px solid #F58BCF;
    padding: 10px;
}
.content{
    display: flex;
    justify-content:  space-between;
    gap: 10px;
}
.myth{
    border-right: 1px solid #F58BCF;
}
.con5{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0B4350;
}
.circle{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: #ACE4E3;
}
.con6{
    width: 100vw;
    height: 100vh;
    background-color: #0B4350;
    display: flex;
}
.chat{
    width:300px;
    height:50px;
    border-radius: 2rem;
    background-color: #E7E6AD;
    color: #003E29;
}
.switch {
    --button-width: 3.5em;
    --button-height: 2em;
    --toggle-diameter: 1.5em;
    --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
    --toggle-shadow-offset: 10px;
    --toggle-wider: 3em;
    --color-grey: #cccccc;
    --color-green: #4296f4;
   }
   
   .slider {
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--color-grey);
    border-radius: calc(var(--button-height) / 2);
    position: relative;
    transition: 0.3s all ease-in-out;
   }
   
   .slider::after {
    content: "";
    display: inline-block;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: #fff;
    border-radius: calc(var(--toggle-diameter) / 2);
    position: absolute;
    top: var(--button-toggle-offset);
    transform: translateX(var(--button-toggle-offset));
    box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;
   }
   
   .switch input[type="checkbox"]:checked + .slider {
    background-color: var(--color-green);
   }
   
   .switch input[type="checkbox"]:checked + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
    box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
   }
   
   .switch input[type="checkbox"] {
    display: none;
   }
   
   .switch input[type="checkbox"]:active + .slider::after {
    width: var(--toggle-wider);
   }
   
   .switch input[type="checkbox"]:checked:active + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
   }
   